IS_DEVELOPMENT=false
GLOBAL_LLM_SERVICE="AzureOpenAI"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=<Your Azure OpenAI Chat Deployment Name>
AZURE_OPENAI_ENDPOINT=<Your Azure OpenAI Endpoint>
AZURE_OPENAI_API_KEY=<Your Azure OpenAI API Key>
AZURE_OPENAI_API_VERSION=<Your Azure OpenAI API Version>
MYSQL_HOST=<Your MySQL Host>
MYSQL_PORT=<Your MySQL Port>
MYSQL_USER=<Your MySQL User>
MYSQL_PASSWORD=<Your MySQL Password>
MYSQL_DATABASE=<Your MySQL Database>
APPLICATIONINSIGHTS_CONNECTION_STRING=<Your Application Insights Connection String>
SEMANTICKERNEL_EXPERIMENTAL_GENAI_ENABLE_OTEL_DIAGNOSTICS=true
SEMANTICKERNEL_EXPERIMENTAL_GENAI_ENABLE_OTEL_DIAGNOSTICS_SENSITIVE=true